<!DOCTYPE html>
<html>
<head>
  <title>Mascotas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    $("input").datepicker({
        noDefault: false, // set this to true if you don't want the current date inserted if the value-attribute is empty
        format: 'mm/dd/yyyy hh:ii:ss',
        weekStart: 1,
        days: ["do","lu","ma","mi","ju","vi","sa"],
        months: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Setiembre","Octubre","Noviembre","Diciembre"]
    });      
  </script>
</head>
<body>

    <div id="wrapper">
        <%= render :partial => 'zcompartida/cab' %>        
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield=%>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
</body>
</html>
