<%- model_class = Pacient -%>
<div class="page-header">
    <h1><%= "Pacientes".titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:mascota) %></th>
      <th><%= model_class.human_attribute_name(:client_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>IMG</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pacients.each do |pacient| %>
      <tr>
        <td><%= link_to pacient.id, pacient_path(pacient) %></td>
        <td><%= pacient.mascota %></td>
        <td><%= Client.find(pacient.client_id).nombre %></td>
        <td><%= pacient.created_at %></td>
        <td><%= image_tag pacient.avatar1.url(:thumb) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pacient_path(pacient), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pacient_path(pacient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_pacient_path, :class => 'btn btn-primary' %>
